#myCanvas {
	width: 1000px;
	height: 500px;
	background-color: #000;
}

#log {
	width: 1000px;
	height: 400px;
	background-color: #000;
	color: #2d2;
	vertical-align: top;
	padding: 0px;
	overflow-wrap: break-word;
	overflow: scroll;
	overflow-x: hidden;
	font-family: monospace;
}

body {
	background-color: #222529;
}